build
docs/manual/simulator.eps
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
docs/html
docs/latex
*.aux
*.log
*.out
*.toc
libbatsmanual.pdf

/libbats.a
/examples/helloworld/helloworld
/examples/dribble/dribble
/Doxyfile
